[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/pershoot/KernelSU-Next
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard/
[submodule "drivers/lindroid-drm"]
	path = drivers/lindroid-drm
	url = https://github.com/Linux-on-droid/lindroid-drm-loopback
